name: compileTests

on: [push, pull_request, workflow_dispatch]

jobs:
  cTest:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
  testGetLoc:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
          cd Projects/P3/
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestMapGetLoc
  testPacmanValidMoves:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
          cd Projects/P3/
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestPacManValidMoves
          
  testGhostIsPacmanInRange:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
          cd Projects/P3/
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestPacManInRange

  testEatCookie:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
          cd Projects/P3/
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestMapEatCookie

  testGhostValidMoves:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
          cd Projects/P3/
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestGhostValidMoves

  testGhostInRange:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
          cd Projects/P3/
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestGhostInRange
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestPacManInRange       
          
  testAttack:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
          cd Projects/P3/
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestAttack

  testMapAttack:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
          cd Projects/P3/
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestMapAttack

  testPacManMove:
    runs-on: ubuntu-latest
    container: openjdk
    steps:
      - uses: actions/checkout@v2
      - name: Build Tests
        run: |
          javac -cp ".:Projects/P3/tests/junit-4.10.jar" Projects/P3/src/*.java
          javac -cp "Projects/P3/src/:.:Projects/P3/tests/junit-4.10.jar" Projects/P3/tests/*.java
          cd Projects/P3/
          java -cp "src/:tests/:tests/junit-4.10.jar" org.junit.runner.JUnitCore TestPacManMove